<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/Style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="body">
        <div class="">
          <form action="/edit" method="post">
            <input
              class="input-title"
              name="new"
              type="text"
              required
              placeholder="Title . . . . . ."
            />
            <textarea
              name="newd"
              class="textarea"
              required
              placeholder="Write Your Notes....."
            ></textarea>
            <input class="submit" type="submit" value="Create Task" />
          </form>
          <div class="show-task1">
            <div class="show-task">
              <a href="/">🔙 Go Back</a>
            </div>
          </div>
        </div>
      </div>
    
  </body>
</html>
